/*@font-face {
	font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
	src: url(font/Raleway-VariableFont_wght.ttf) /*format('truetype')
    /*src: url(font/Raleway-Regular.otf) format('opentype');
}*/
/*@font-face {
	font-family: "Raleway";
	font-style: italic;
	src: url(font/Raleway-Italic-VariableFont_wght.ttf);
}*/
*
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 98%;
}
h1
{
    font-weight:650;
    font-size:130%;
}
h2
{
    font-weight: 600;
    font-size: 100%;
}
h3
{
    font-weight: 600;
    font-size: 100%;
}
@media (max-width: 767px)
{
    * {
        font-size: 100%;
    }
    
}

/*Navigation*/
header
{
    width: 100%;
    max-width: 992px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#logo
{
    width:auto;
    height: auto;
}
header img
{
    width: 90%;
    height : 90%;
    object-fit: contain;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.nav_t
{
    text-align: center;
    min-width: 150px;
}
.nav_inside
{
    width: 100%;
    height: 100%;
    border-top: 3px solid white;
}
.nav_inside p
{
    margin-top: 25%;
}
#nav_t
{
    width: 1px;
}
.nav_t a
{
    text-decoration: none;
    color: black;
}
.nav_inside:hover
{
    color : #0065fc;
    border-top: 3px solid #0065fc;
}
@media (max-width: 767px)
{
    header
    {
        height : auto;
        justify-content: center;
    }
    #logo
    {
        width:50%;
        height: auto;
        text-align:center;
        margin:auto;
        display:flex;   
        justify-content: center;
    }
    header img
    {
        width: 75%;
        height : 75%;
        object-fit: contain;
    }
    nav
    {
        width:100%;
    }
    .nav_t
    {
        width: 49%;
        min-width:unset;
        margin: auto;
    }
    .nav_t p
    {
        margin-top: 10%;
    }
    .nav_inside
    {
        border-top:none;
        border-bottom: 3px solid white;
    }
    .nav_inside:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }
}

/*Main*/
main
{
    width: 100%;
    max-width: 992px;
    margin: auto;
}
@media (max-width: 767px)
{
    main
    {
        width : auto;
        margin: unset;
        padding: unset;
    }
}

/*Recherche*/
#recherche
{
    width: calc(100% - 20px);
    padding: 0px 0px 0px 20px;
}
#form
{
    margin: 2% 0% 2% 0%;
}
input, label
{
    font-family: inherit;
    font-size : 110%;
    font-weight : 550;
    padding: 1%;
    margin: -0.5%;
    resize  : none;
    overflow: auto;
}
label
{
    border: 1px solid #F2F2F2;
    border-top-left-radius: 30%  35%;
    border-bottom-left-radius: 30%  35%;  
    background-color: #F2F2F2;
  
    -webkit-appearance: none;
}
label i
{
    padding-right: 0.8%;
}
input[type=text]
{
    border: 1px solid #F2F2F2;
    border-radius: 0;
  
    -webkit-appearance: none;
}
input[type=submit]
{
    border: 1px solid #0065fc;
    border-top-right-radius: 15%  35%;
    border-bottom-right-radius: 15%  35%;    
    background-color: #0065fc;
    color: white;

    -webkit-appearance: none;
}
input[type=submit]:hover
{
    cursor: pointer;
}
button[type=submit]
{
    display: none;
}
#filtres_contain
{
    margin : 30px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    /*min-height:1px;*/
}
#filtre_h2
{
    font-weight: 600;
    font-size: 110%;
    width: auto;
    height: auto;
    padding: 5px 0px 5px 0px;
}
.filtre
{
    border: 2px solid #deebff;
    height: auto;
    width: auto;
    border-radius: 20px;
    padding: 6px 10px 6px 40px;
    position: relative;
}
.filtre:hover
{
    background-color: #deebff;
    border: 2px solid #deebff;
    color: #0065fc;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/*.filtre_t
{
    border : 1px dotted black;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
}
.filtre_t span
{
    vertical-align: middle;
    display: table-cell;
}*/
.filtre_i
{
    background-color: #deebff;
    height: 34px;
    width: 34px;
    border-radius: 50%;

    position: absolute;
    top: -3px;
    left: -3px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.filtre i
{
    color : #0065fc;
    vertical-align: middle;
}
#infos
{
    height: auto;
    width: auto;
    margin: 20px 0px 20px 0px;
    padding-left: 30px;
    position: relative;
}
#infos_i
{
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px solid #deebff;
    border-radius: 50%;

    position: absolute;
    top: -2px;
    left: -2px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#infos i
{
    color : #0065fc;
    vertical-align: middle;
    font-size: 75%;
}
@media (max-width: 767px)
{
    #form
    {
        width: 100%;
    }
    #localisation
    {
        display : flex;
        align-items: center;
    }
    input[type=submit]
    {
        display:none;
    }
    button[type=submit]
    {
        display: unset;
        border: 0px solid #0065fc;
        border-radius: 15%;
        background-color: #0065fc;
        color: white;
        padding: 8px ;
        /*position*/
        position:relative; top:0px; left: -4px;

        -webkit-appearance: none;
    }
    button[type=submit]:hover
    {
        cursor: pointer;
    }
}

/*Hébergements*/
#acco
{
    width: calc(100% - 15px);
    padding : 10px 0px 10px 15px;
    display: flex;
    justify-content: space-between;
}
#acco article
{
    background-color: #F2F2F2;
    border-radius: 20px;
    /* Est-ce que ça s'adapte à la largeur de l'écran? */
    width: 64%;
    padding-right: 20px;
}
#acco a
{
    text-decoration: none;
    color: black;
}
.tuile
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media (min-width: 768px)
{
    .tuile:hover 
    {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: scale(1.04);
    }
}
.tuile img
{
    width: 100%;
    height : 100%;
    object-fit: cover;
}
.tuile_titre
{
    height: auto;
    width: 88%;
    font-weight: 600;
    font-size: 90%;
    padding: 0px 5px 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tuile_prix
{
    height: auto;
    width: 100%;
    font-size: 80%;
    padding: 0px 5px 0px 10px;
}
.tuile_note
{
    height: auto;
    width: 100%;
    font-size: 80%;
    padding: 0px 5px 0px 10px;

    color : #0065fc;

    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.container_tuile
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#acco h1, #acco h2
{
    width : auto;
    height: auto;
    margin-left: 20px;
}
#acco article .tuile
{
    /*flex-basis: 30%;*/
    width: 180px;
    height: 135px;
    margin: 10px 0px 10px 20px;

    border: 3px solid white;
}
#acco article .tuile_img
{
    width: 100%;
    height: 80px;
    border-radius: 17px 17px 0px 0px;
    overflow: hidden;
}
#acco article .tuile_body
{
    width : 100%;
    height: 55px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#acco article h2:hover
{
    text-decoration: underline black;
}
#acco aside 
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    min-width: 270px;
    padding-right: 10px;
    margin: 0px 10px 0px 5px;
}
#aside_head
{
    width: calc(100% - 30px);
    height: auto;
    padding: 20px 10px 20px 20px;

    font-weight:650;
    font-size:130%;  /*comme h1*/

    display: flex;
    justify-content: space-between;
}
#acco aside .tuile
{
    width: 250px;
    height: 90px;
    margin: 10px 0px 10px 20px;

    border: 3px solid white;
}
#acco aside .tuile_container
{
    width: 100%;
    height: 100%;
    display : flex;
    justify-content: space-between;
}
#acco aside .tuile_img
{
    width: 100px;
    height: 100%;
    border-radius: 17px 0px 0px 17px;
    overflow: hidden;
}
#acco aside .tuile_body
{
    width : 150px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#acco aside .tuile_note
{
    margin-top: 20px;
}

@media (max-width: 767px)
{
    #acco
    {
        width: 100%;
        padding: unset;

        flex-direction: column-reverse;
        justify-content: stretch;
    }
    #acco article
    {
        width:100%;
        padding:unset;
        margin: 0px;
        background-color: white;
    }
        .container_tuile
    {
        justify-content: center;
    }
    #acco article .tuile
    {
        width: 90%;
        height: 180px;
        margin: 10px 0px 10px 0px;
    }
    #acco article .tuile_img
    {
        height: 110px;
    }
    #acco article .tuile_body
    {
        padding-top: 10px;
    }
    #acco aside 
    {
        border-radius: unset;
        width: 100%;
        min-width: unset;
        padding-right: unset;
        margin : unset;
    }
    #acco aside .tuile
    {
        width: 90%;
        height: 120px;
        margin: 10px 0px 10px 0px;
    }
    #acco aside .tuile_img
    {
        width: 40%;
    }
    #acco aside .tuile_body
    {
        width : 60%;
        padding-right: 10px;
    }
}

/*Activités*/
#activités
{
    width: 100%;
    height: auto;
    padding : 10px 0px 10px 0px;
}
#activités a
{
    text-decoration: none;
    color: black;
}
#activités h1, #activités h2
{
    width : auto;
    height: auto;
    margin-left: 20px;
}
#container2_tuile
{
    width: calc(100% - 20px);
    height: 300px;
    padding: 20px 10px 40px 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    overflow: hidden;
}
#activités .tuile
{
    width: 22%;
    min-width: 150px;
    margin: 0px 0px 0px 15px;
}
.tuile_container2
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}
#activités .tuile_img
{
    width: 100%;
    height:calc(100%);
    border-radius: 17px 17px 0px 0px;
    overflow: hidden;
}
#activités .tuile_body
{
    width : 100%;
    height: 35px;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#activités .tuile_titre
{
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (min-width: 768px)
{
    #activités .tuile:nth-child(1)
    {
        height: 300px;
    }
    #activités .tuile:nth-child(2)
    {
        height: 160px;
    }
    #activités .tuile:nth-child(3)
    {
        height: 100px;
    }
    #activités .tuile:nth-child(4)
    {
        height: 300px;
    }
    #activités .tuile:nth-child(5)
    {
        height: 130px;
    }
    #activités .tuile:nth-child(6)
    {
        height: 130px;
    }
}

@media (max-width: 767px)
{
    #container2_tuile
    {
        width: 100%;
        height: auto;
        padding: 0px 0px 20px 0px;
        justify-content: center;
        align-content: center;
        overflow: visible;
    }
    #activités .tuile
    {
        width: 90%;
        min-width: unset;
        height: 180px;
        margin: 10px 0px 10px 0px;
    }
}

/*Footer*/
footer
{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}
#footer_container
{
    width: 100%;
    max-width: 992px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.foot_ul
{
    height: auto;
    min-width:fit-content;
    max-width: 300px;
    width: 30%;
    padding: 10px;
}
footer ul
{
    list-style-type: none;
    padding-left:unset;
}
footer ul li
{
    line-height: 2;
}
footer a
{
    text-decoration: none;
    color: black;
}

@media (max-width: 767px)
{
    #footer_container
    {
        padding: 0px 0px 0px 20px;
        flex-direction: column;
    }   
}
